<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title"><h4>MANAGE DEAL CATEGORY</h4></div>
			</div><!--.panel-heading-->
			<div class="panel-body">

				<div class="row example-row">
					<div class="col-md-3">Add New Category</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="inputer">
							<div class="input-wrapper">
								<input type="text" class="form-control" placeholder="Category Name" ng-model="category.name">
							</div>
						</div>
						<button type="submit" class="btn btn-blue" ng-click="action.doCreate();">Submit</button>
						<button type="button" class="btn btn-flat btn-default" ng-click="action.doCancel();">Cancel</button>
					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Deal Categories<br>(Click a Category to Edit)</div><!--.col-md-3-->
					<div class="col-md-9">
						<ul class="list-material has-hidden">
							<li class="has-action-left" ng-repeat="c in list">
								<a href="javascript:void(0);" ng-click="action.doDelete(c);" class="hidden"><i class="ion-android-delete"></i></a>
								<a href="javascript:void(0);" ng-click="action.doEdit(c);" class="visible">
									<div class="list-content">
										<span class="title">{{c.name}}</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.col-md-9-->
				</div><!--.row-->

			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-md-12-->
</div><!--.row-->