<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title"><h4>DEAL CREATION FORM</h4></div>
			</div><!--.panel-heading-->
			<div class="panel-body">

				<div class="row example-row">
					<div class="col-md-3">Name</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="inputer">
							<div class="input-wrapper">
								<input type="text" class="form-control" placeholder="Deal Name" ng-model="deal.name">
							</div>
						</div>

					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Business</div><!--.col-md-3-->
					<div class="col-md-9">
						<select class="selecter" id="businessSelector">
						</select>
					</div><!--.col-md-9-->
				</div><!--.row-->


				<div class="row example-row">
					<div class="col-md-3">Description</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="inputer">
							<div class="input-wrapper">
								<textarea class="form-control" rows="3" placeholder="Description" ng-model="deal.description"></textarea>
							</div>
						</div>
					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Expiry Date</div><!--.col-md-3-->
					<div class="col-md-9">

						<div class="control-group">
							<div class="controls">
								<div class="input-group">
									<span class="input-group-addon"><i class="ion-android-calendar"></i></span>
									<div class="inputer">
										<div class="input-wrapper">
											<input type="text" style="width: 200px" id="expiry_date" class="form-control bootstrap-daterangepicker-basic" value="2016-03-04" />
										</div>
									</div>
								</div>
							</div>
						</div>

					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Deal Category</div><!--.col-md-3-->
					<div class="col-md-9">
						<select class="selecter" id="categorySelector">
						</select>
					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Can a user redeem this deal multiple times?</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="switcher">
							<input id="switcher1" type="checkbox" hidden="hidden">
							<label for="switcher1"></label>
						</div><!--.switcher-->
					</div><!--.col-md-9-->
				</div><!--.row-->		

				<div class="form-buttons">
					<div class="row">
						<div class="col-md-offset-3 col-md-9">
							<button type="submit" class="btn btn-blue" ng-click="action.doCreate();">Create Deal</button>
							<button type="button" class="btn btn-flat btn-default">Cancel</button>
						</div>
					</div>
				</div>	

			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-md-12-->
</div><!--.row-->