<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="col-md-3"><h4>DEAL LIST(ACTIVE)</h4></div>
					<div class="col-md-9">
						<div class="control-group">
							<div class="controls">
								<div class="input-group">
									<span class="input-group-addon"><i class="ion-android-calendar"></i></span>
									<div class="inputer">
										<div class="input-wrapper">
											<input type="text" id="deal_range_1" name="reservation" class="form-control bootstrap-daterangepicker-date-time" value="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--.panel-heading-->
			<div class="panel-body without-padding">
				<ul class="list-material has-hidden">
					<li class="has-action-left has-action-right" ng-repeat="d in list" ng-show="!action.isExpired(d);">
						<a href="javascript:void(0);" ng-click="action.doClone(d);" class="hidden"><i class="ion-android-add" style="font-size:10px;">Duplicate</i></a>
						<a href="javascript:void(0);"  ui-sref="deal({deal_id:d._id})"  class="visible">
							<div class="list-content">
								<span class="title">{{d.name}} - {{d.business.name}}</span>
								<span class="caption">{{d.description}}</span>
								<span class="title">TOTAL VISITS: {{action.getDealStats(d, true);}}</span>
								<span class="title">ADDED TO WISHLIST: {{action.getWishlist(d, true);}}</span>
								<span class="title">REDEEMED: {{action.getRedeemed(d, true);}}</span>
							</div>
						</a>
					</li>
				</ul>
			</div><!--.panel-body-->
		</div><!--.panel-->


		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="col-md-3"><h4>DEAL LIST(EXPIRED)</h4></div>
					<div class="col-md-9">
						<div class="control-group">
							<div class="controls">
								<div class="input-group">
									<span class="input-group-addon"><i class="ion-android-calendar"></i></span>
									<div class="inputer">
										<div class="input-wrapper">
											<input type="text" id="deal_range_2" name="reservation" class="form-control bootstrap-daterangepicker-date-time" value="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--.panel-heading-->
			<div class="panel-body without-padding">
				<ul class="list-material has-hidden">
					<li class="has-action-left has-action-right" ng-repeat="d in list" ng-show="action.isExpired(d);">
						<a href="javascript:void(0);" ng-click="action.doClone(d);" class="hidden"><i class="ion-android-add" style="font-size:10px;">Duplicate</i></a>
						<a href="javascript:void(0);"  ui-sref="deal({deal_id:d._id})"  class="visible">
							<div class="list-content">
								<span class="title">{{d.name}} - {{d.business.name}}</span>
								<span class="caption">{{d.description}}</span>
								<span class="title">TOTAL VISITS: {{action.getDealStats(d, true);}}</span>
								<span class="title">ADDED TO WISHLIST: {{action.getWishlist(d, true);}}</span>
								<span class="title">REDEEMED: {{action.getRedeemed(d, true);}}</span>
							</div>
						</a>
					</li>
				</ul>
			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-md-12-->
</div><!--.row-->