<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title"><h4>GUIDE LIST</h4></div>
			</div><!--.panel-heading-->
			<div class="panel-body without-padding">
				<ul class="list-material">
					<li class="has-action-left has-action-right" ng-repeat="a in list">
						<a href="#" class="visible" >
							<div class="list-action-left">
								<img ng-src="'data:image/png;base64,' + a.photo" class="face-radius" alt="">
							</div>
							<div class="list-content" ui-sref="ambassador({ambassador_id:a._id})">
								<span class="title">{{a.name}}</span>
								<span class="caption">{{a.description}}</span>
							</div>
						</a>
					</li>
				</ul>
			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-md-12-->
</div><!--.row-->