<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title"><h4>GUIDE PAGE CREATION FORM</h4></div>
			</div><!--.panel-heading-->
			<div class="panel-body">

				<div class="row example-row">
					<div class="col-md-3">Title</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="inputer">
							<div class="input-wrapper">
								<input type="text" class="form-control" placeholder="Guide Title" ng-model="guide.name">
							</div>
						</div>

					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Text</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="inputer">
							<div class="input-wrapper">
								<textarea class="form-control" rows="3" placeholder="Guide Text" ng-model="guide.text"></textarea>
							</div>
						</div>
					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Guide Main Page</div><!--.col-md-3-->
					<div class="col-md-9">
						<select class="selecter" id="categorySelector">
						</select>
					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Image</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="form-group">
							<label for="photoFile">Select Guide Image</label>
							<input type="file" id="photoFile" accept="image/*">
							<p class="help-block"><img id="previewPhoto" src="#" style="height:auto;width:auto;display:none;"></p>
						</div><!--.form-group-->
					</div><!--.col-md-9-->
				</div><!--.row-->

				<div class="row example-row">
					<div class="col-md-3">Can a user redeem the deals from this guide multiple times?</div><!--.col-md-3-->
					<div class="col-md-9">
						<div class="switcher">
							<input id="switcher1" type="checkbox" hidden="hidden">
							<label for="switcher1"></label>
						</div><!--.switcher-->
					</div><!--.col-md-9-->
				</div><!--.row-->		

				<div class="form-buttons">
					<div class="row">
						<div class="col-md-offset-3 col-md-9">
							<button type="submit" class="btn btn-blue" ng-click="action.doCreate();">Create Guide</button>
							<button type="button" class="btn btn-flat btn-default">Cancel</button>
						</div>
					</div>
				</div>	

			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-md-12-->
</div><!--.row-->