<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="row example-row"><h4>GUIDE LIST</h4></div>
					<div class="row example-row">
						<div class="col-md-2"></div><!--.col-md-3-->
						<div class="col-md-2">Select Pre/Post Arrival</div>
						<div class="col-md-3">
							<select class="selecter" id="typeSelector">
								<option value="All" selected="selected">All</option>
								<option value="true">Pre-Arrival</option>
								<option value="false">Arrival</option>
							</select>
						</div>
						<div class="col-md-2">Select Guide Main Page</div>
						<div class="col-md-3">
							<select class="selecter" id="categorySelector">
							</select>
						</div>
					</div>
					<div class="row example-row">
						<div class="col-md-2"></div>
						<div class="col-md-2">Select Date Range</div>
						<div class="col-md-8">
							<div class="control-group">
								<div class="controls">
									<div class="input-group">
										<span class="input-group-addon"><i class="ion-android-calendar"></i></span>
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" id="guide_range" name="reservation" class="form-control bootstrap-daterangepicker-date-time" value="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--.panel-heading-->
			<div class="panel-body">
				<ul class="list-material">
					<li class="has-action-left has-action-right" ng-repeat="b in action.filter()">
						<a href="#" class="visible">
							<div class="list-content" ui-sref="guide({guide_id:b._id})">
								<span class="title">{{b.title}}</span>
								<!--span class="caption">{{b.text}}</span-->
								<span class="caption">TOTAL VISITS: {{action.getGuideStats(b);}}</span>
							</div>
						</a>
					</li>
				</ul>
			</div><!--.panel-body-->
		</div><!--.panel-->
	</div><!--.col-md-12-->
</div><!--.row-->